@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");


:root {
  --mainGreen: #65c100;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainTransition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

/******** NAV ********/
.nav {
  height: 70px;
  width: 100%;
  background: #fff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;
}

@media screen and (min-width: 910px) {
  .nav {
    z-index: 7000;
  }
}


.nav__main {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__main--container {
  width: 90%;
  margin: 0 auto;
}

.nav__main--left {
  display: flex;
  align-self: left;
  align-items: center;
}

.nav__main--right {
  display: flex;
  align-self: right;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.nav__hamburger {
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__search {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.nav__search--dropdown {
  position: absolute;
  top: 40px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  padding: 20px 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.nav__search--dropdown-show {
  visibility: visible;
  opacity: 1;
}

.nav__search--dropdown-link {
  font-size: 11px;
  line-height: 16px;
  padding: 11px 30px;
}

.nav__search--dropdown-link span {
  color: #AAAAAA;
}

.nav__search--show {
  display: flex;
}

.nav__main--hide {
  display: none;
}

.nav__search--input-container {
  display: flex;
  width: 70%;
  position: relative;
}

.nav__search--input {
  height: 40px;
  width: 100%;
  padding: 11px 22px;
  border: 1px solid #dddddd;
}

.nav__search--input:focus {
  border: 1px solid #636363 !important;
}







.nav__search--back-btn {
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__search--btn {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9fb;
}

.nav__logo {
  display: flex;
}

.nav__logo--text {
  display: none;
  padding: 10px;
}

.nav__logo--text-top {
  font-size: 18px;
  font-weight: 300px;
}

.nav__logo--text-bottom {
  font-size: 12px;
  color: #aaaaaa;
}

.nav__avatar {
  height: 40px;
  width: 40px;
  background: #429eb0;
  border-radius: 50%;
}


.nav__notifications-icon {
  position: relative;
  cursor: pointer;
}

.nav__notifications-text {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  background: #65C100;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  color: white;
}

.nav__avatar,
.nav__notifications-icon,
.nav__libraries-icon,
.nav__search-icon {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 910px) {
  .nav {
    height: 100px;
  }

  .nav__main {
    width: 95%;
  }

  .nav__hamburger {
    display: none;
  }

  .nav__logo--text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav__main--left {
    width: 30%;
  }

  .nav__main--right {
    width: 30%;
  }

  .nav__search-icon {
    display: none;
  }

  .nav__search {
    display: flex;
  }

  .nav__search--back-btn {
    display: none;
  }
}


/******** SIDEBAR ********/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  z-index: 5000;
  background: #f9f9fb;
  /* padding: 1.5rem; */
  transition: var(--mainTransition);
  transform: translateX(-100%);
}

.sidebar--show {
  transform: translateX(0%);
}

.sidebar::-webkit-scrollbar {
  display: none;
}



.sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
  padding: 1.5rem;
}


@media screen and (min-width: 910px) {
  .sidebar {
    width: 30%;
    padding-top: 100px;
    background: #ffffff;
    box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.1);
    transform: translateX(0%);
  }

  .sidebar-top {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .sidebar {
    width: 25%;
  }

}




.sidebar__logo {
  display: flex;
}

.sidebar__logo--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.sidebar__logo--text-top {
  font-size: 18px;
  font-weight: 300;
}

.sidebar__logo--text-bottom {
  font-size: 12px;
  color: #aaaaaa;
  font-weight: 300;
}

.sidebar__nav {
  padding-top: 22px;
}

.sidebar__nav--heading {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebar__nav--list {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
  padding: 1.5rem;
}

.sidebar__nav--link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sidebar__nav--link a {
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
}

.sidebar__nav--link a:hover {
  color: #65C100;
}

.sidebar__nav--link.active a {
  color: #65C100;
}

.sidebar__nav--link span {
  color: #AAAAAA;
  font-size: 12px;
}

.sidebar__nav--link .notification {
  background: #65C100;
  color: white;
  border-radius: 10px;
  padding: 2px 8px;
}

/***** CAROUSEL ******/


/***** MAIN *******/
.main {
  padding-top: 100px;
}

.carousel {
  background: #EEE;
  /* z-index: 3000; */
}

.carousel-cell {
  position: relative;
  width: 140px;
  height: 210px;
  margin-right: 5px;
  counter-increment: carousel-cell;
}


@media screen and (min-width: 910px) {
  .carousel-cell {
    width: 220px;
    height: 330px;
    margin-right: 15px;
  }
}


 .carousel-cell:hover 
.carousel-cell__overlay {
  opacity: 1;
  visibility: visible;
} 


.carousel-cell:hover 
.carousel-cell__details-btn {
  visibility: hidden;
} 

.carousel-cell img {
  height: 100%;
  width: 100%;
}

.carousel-cell__overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.607988) 0%, #000000 79.7%);
  z-index: 2000;
  opacity: 0;
  transition: var(--mainTransition);
  visibility: hidden;
}

.carousel-cell__overlay--show {
  opacity: 1;
  visibility: visible;
}

.carousel-cell__details-btn-hide {
  display: none;
}



.carousel-cell__overlay--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0px 0px 0px 15px;
}

.carousel-cell__overlay--status {
  font-size: 12px;
  line-height: 15px;
  color: #65c100;
}

.carousel-cell__overlay--title,
.carousel-cell__overlay--authors,
.carousel-cell__overlay--rating-text {
  margin-top: 8px;
  color: #fff;
}

.carousel-cell__overlay--title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.carousel-cell__overlay--authors, 
.carousel-cell__overlay--rating-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

.carousel-cell__close-btn,
.carousel-cell__details-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 3000;
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background:#DDDDDD;
 
}

.flickity-page-dots .dot.is-selected {
  background: #64C000;
}

/******* BOOKSHELF **********/

.bookshelf {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
 
}

@media screen and (min-width: 910px) {
  .dashboard {
   padding-left: 30%; 
  }
}

@media screen and (min-width: 1025px) {
  .dashboard {
    padding-left: 25%; 
   }
}


.bookshelf__list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.bookshelf__head {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
}

.book {
  display: flex;
  margin-top: 10px;
  width: 323px;
  margin-right: 20px;
  transition: var(--mainTransition);
}

.book:hover {
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
}

.book__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.book__details--status {
  font-size: 12px;
  margin-bottom: 12px;
}

.book__details--status--available {
  color: #65C100;
}

.book__details--status--out {
  color: #D0011B;
}

.book__details--title {
  font-weight: bold;
  font-size: 14px;
}

.book__details--authors,
.book__details--category {
  font-size: 12px;
  line-height: 15px;
}

.book__details--review {
  display: flex;
  margin-top: 10px;
}

.book__details--rating {
padding-right: 10px;
 border-right: 1px solid #AAAAAA;
}

.book__details--share {
  display: flex;
  padding-left: 10px;
  justify-content: space-between;
}

.like {
  margin-left: 10px;
}


.book__details--rating-text,
.people-text {
  font-size: 12px;
  line-height: 14px;
}